<div class="row">
  <div class="span12"><p class="lead span10 offset1">This is the Home page, You know the only reason I am typing out this text is because I want more text in the home page, I can't think of anything right now, but this would suffice it ! Oh by the way I want the Sign up button at the bottom, Still trying to think some thing to write, hmm..... oh wait how about adding a <b>lead</b> class :troll-face: or I can also increase height by decreasing the <b>span class</b> :D</p></div>
  <div class="span12">
    <br><br>
      <%= link_to "Sign up Now !", signup_path, :class => "span4 offset4 btn-large btn btn-primary btn-block" %>
  </div>
</div>